html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  display: none;
  width: 100vw;
  height: 100vh;
  color: #f6c7a6;
  font-family: 'Roboto', Helvetica, sans-serif;
  
  background: rgb(77,102,232);
  background: linear-gradient(225deg, rgba(77,102,232,1) 0%, rgba(101,108,215,1) 35%, rgba(154,122,182,1) 95%);
  z-index: -20;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----- Helper Classes ----- */
.upper {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  transition: font-weight .4s ease-in;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.active {
  text-shadow: 0px 0px 25px #2538BE;
  font-weight: 900;
}

/* ----- Layout Classes ----- */

.wrapper {
  position: relative;
  overflow: hidden;
  background:
    url(/img/wave.svg) repeat-y center / 100%,
    radial-gradient(rgba(106, 107, 210, .8) 27%, rgba(0,0,0,0) 27%) center/18px 18px;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.main-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 67%;
  max-width: 880px;
  margin: 0 auto;
  z-index: -1;
  /* border: solid 1px tomato; */
}

.project-wrapper {
  position: absolute;
  right: -5000px;
  top: 0;
  bottom: 0;
  margin-right: 7%;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
}

.header {
  margin-top: 4.6rem;
  margin-bottom: auto;
}

.footer {
  margin-bottom: 4rem;
  margin-top: auto;
}

.name-div,
.git-div,
.proj-div,
.email-div {
  display: none;
  padding: 12px;
  cursor: pointer;
  border: solid 1px black;
}

.proj-div,
.name-div {
  transition: transform .5s, text-shadow .5s;
}

.proj-div:hover,
.name-div:hover {
  transform: translateY(-3px);
  text-shadow: 0px 6px 15px #2538BE;
}

.git-div,
.email-div {
  position: relative;
}

.git, 
.email {
  overflow: hidden;
}

.git-icon {
  opacity: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.email-icon {
  transform: scale(0);
  width: 35px;
  height: 35px;
  padding: 0;
  position: absolute;
  right: 36%;
  bottom: 8px;
  transition: transform .3s;
}

.email-div:hover .email-icon {
  transform: scale(1);
}

.name-div,
.git-div {
  margin-left: 8.62%;
}

.proj-div,
.email-div {
  margin-right: 8.62%;
  margin-left: auto;
}

.profile-pic {
  border-radius: 50%;
  background: #BFBFBF;
  box-shadow: 0px 20px 100px #2538BE;
}

.about {
  margin-left: 3.4rem;
}

.hero {
  font-size: 3rem;
  font-weight: 500;
}

.title {
  color: #EF9191;
  font-size: 5.5rem;
  font-weight: 700;
}

.title:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.description {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
}