.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  color: $white;
}

.alert-banner {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  width: 90%;
  background-color: $accent-purple;
  border-radius: 8px;
  transition: height .25s ease-in-out;
  &-text {
    display: inline-block;
    margin: auto auto auto 1em;
  }
  &-close {
    cursor: pointer;
    margin: auto 1em auto auto;
    font-size: 1.3em;
    font-weight: 500;
  }
}

.chart {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
}

canvas {
    width: 100% !important;
}

.daily-traffic,
.members,
.message-users,
.recent,
.settings,
.social,
.mobile-users {
  border-right: solid 1px $border;
  border-top: solid 1px $border;
}

.members,
.recent,
.message-users,
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.social-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 980px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}


.social-container {
  flex-basis: calc(33.33% - 20px);
  display: flex;
  align-items: center;
  max-width: 320px;
  min-width: 280px;
  padding: 24px;
  margin-bottom: 1.2em;
  border: solid 1px $border;
  border-radius: 4px;
  background-color: #FBFBFB;
}

.members-container {
    padding: .6em;
    width: 100%;
    &:not(:last-child) {
      border-bottom: solid 1px $border;
    }
    & .profile-image {
      height: 70px;
      width: 70px;
      border-radius: 50%;

      @media screen and (min-width: 768px) {
        height: 42px;
        width: 42px;
        margin-right: 10px;
      }
    }
    // .members-container
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & p, a {
        font-size: 14px;
        margin-bottom: 0;
      }
      & .arrow {
        margin: 0 0 0 auto;
        color: $base-purple;
        font-size: 20px;
      }
      & .datestamp {
        margin: 0 0 0 auto;
        color: $font-color-light;
      }
      & .timestamp {
        margin-top: 0;
        color: $font-color-light;
      }
    }
  }

.traffic {
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h3 {
      display: block;
      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }
    // .traffic-header 
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
  }
  &-nav {
    display: block;
    margin: .5em;
    line-height: 1em;
    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
  }
  &-nav-link {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 14px;
    transition: transform .25s, background .25s ease-in, color .25s ease-in;
    &:hover {
      transform: translateY(-2px);
    }
  }
  & .active {
    color: white;
    font-weight: 700;
    background: rgb(129, 201, 143);
    border-radius: 14px;
  }
}

.arrow {
  color: $base-purple;
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}

// Adjusts the spans for grid items at desktop view
@media screen and (min-width: 768px) {
  .traffic, .social, .main-header, #alert {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 768px) {
  .daily, .members, .message-users {
    grid-column: 1 / span 1;
  }
}

@media screen and (min-width: 768px) {
  .mobile-users, .recent, .settings {
    grid-column: 2 / span 1;
  }
}