.button-primary,
.button-disabled {
  text-transform: uppercase;
  color: $white;
  height: 50px;
  width: 100%;
  margin-bottom: 1em;
  font-size: .9em;
  font-weight: 700;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    &:not(#send) {
      width: 48%;
    }
  }
}

.button-primary {
  background-color: $accent-purple;
}

.button-disabled {
  background-color: $font-color-light;
}

.settings label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-bottom: 1.3em;
  &:nth-child(2) > span,
  &:nth-child(3) > span {
    width: 100px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 90%;
    & p {
      margin-left: 0;
    }
  }
}

.settings-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}