input,
textarea {
  padding: 1em;
  border: solid 1px $border;
  border-radius: 5px;
  background-color: #FBFBFB;
  transition: border .1s ease-in;
  &:focus {
    border: solid 1px $accent-purple;
  }
}

.autocomplete {
  position: relative;
  display: inline-block;
  &-items {
    position: absolute;
    border: 1px solid $border;
    border-bottom: none;
    border-top: none;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    & div {
      padding: 10px;
      cursor: pointer;
      background-color: #FBFBFB;
      border-bottom: 1px solid #d4d4d4;
      box-shadow: 3px 3px 8px rgba(100, 100, 100, 0.3);
      &:hover {
        background-color: $accent-purple;
        color: $white;
      }
    }
  }
  &-active {
    background-color: $accent-purple !important;
    color: $white;
  }
}


select {
  width: 100%;
  margin-bottom: 1em;
  background: #FBFBFB;
  color: $font-color-light;
  height: 40px;
  border: solid 1px $border;
}

.main-header {
  display: flex;
  justify-content: center;
  &-search {
    display: inherit;
    justify-content: inherit;
    width: 100%;

    @media screen and (min-width: 768px) {
      margin-left: auto;
      background-color: #FBFBFB;
      border-left: solid 1px $border;
      border-bottom: solid 1px $border;
      line-height: 0;
      background-image: url('../../icons/icon-search.png');
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 98% 50%;
       
    }
    & input {
      margin: .5em;
      width: 80%;

      @media screen and (min-width: 768px) {
        width: 40%;
        margin: 1em;
        padding: .8em;
      }
    }
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-end;   
  }
}

.message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.form-area {
  margin: 1.3em 0 1em 0;
}