/*---- base styles ----*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $font-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $accent-purple;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: .5em auto;
}

img {
  max-width: 100%;
}

:focus {outline: none}